<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684710666845-hqpb0cikufun2upud6ohl2854m9s6kbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684710666845-hqpb0cikufun2upud6ohl2854m9s6kbe</string>
	<key>API_KEY</key>
	<string>AIzaSyC42lXBFdaHkY2sL0yY2lo_LX68nhhPBqw</string>
	<key>GCM_SENDER_ID</key>
	<string>684710666845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stackedTechIdara</string>
	<key>PROJECT_ID</key>
	<string>tech-idara-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-idara-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684710666845:ios:45a2bbab13e06374c023b4</string>
</dict>
</plist>